{% extends "base.html" %} {% block title %}Admin Panel{% endblock %} {% block content
%}
<div class="container" style="display: grid; place-items: center; padding-bottom: 50px; padding-top: 20px;">
  <form method="POST">
    <h3 align="center">User information</h3>
    <ul class="list-group">
      {% if appointments %}
        {% for appointment in appointments %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <input
                  type="text"
                  class="form-control-sm form-control-plaintext"
                  name="person_label"
                  id="person_label"
                  value="Person"
                  readonly
                >
              </div>
              <div class="col-2">
                <input
                type="text"
                class="form-control-sm form-control-plaintext"
                name="person_id"
                id="person_id"
                value="{{ appointment.person_id }}"
                readonly
                >
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <input
                  type="text"
                  class="form-control-sm form-control-plaintext"
                  name="appointment_label"
                  id="appointment_label"
                  value="Appointment"
                  readonly
                >
              </div>
              <div class="col-2">
                <input
                  type="text"
                  class="form-control-sm form-control-plaintext"
                  name="appointment_id"
                  id="appointment_id"
                  value="{{ appointment.id }}"
                  readonly
                >
              </div>
            </div>
            <button type="submit" class="btn btn-success" name="test_result" value="NEGATIVE">Negative</button>
            <button type="submit" class="btn btn-danger" name="test_result" value="POSITIVE">Positive</button>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">No appointments yet.</li>
      {% endif %}
    </ul>
  </form>
</div>
{% endblock %}